<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Charles Babbage</title>
  </head>
  <body>
    <div class="container">
    <h1>Charles Babbage</h1>
    <h4>Matematico</h4>
    <img class= "fotoHeroe" src="/img/Babbage.jpg" alt="foto Babagge">
    <div class="infoHeroe">
    <p>
      <strong>Charles Babbage</strong> fue un matemático y científico de la
      computación británico.​<br />
      Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas
      de<br />
      funciones numéricas por el método de diferencias.
    </p>
    <p><b>Nacimiento:</b> 26 de diciembre de 1791, Londres, Reino Unido</p>
    <p>
      <b>Fallecimiento:</b> 18 de octubre de 1871, Marylebone, Londres, Reino
      Unido
    </p>
    <p>
      <b>Educación:</b> Peterhouse, Cambridge (1812–1814), Trinity College
      (1810–1812)
    </p>

    <a href="/">Volver al Home</a>
    </div>
  </body>
</html>
