<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tim Berners-Lee</title>
  </head>
  <body>
    <div class="container">
    <h1>Tim Berners-Lee</h1>
    <h4>Científico de la computación</h4>
    <img class= "fotoHeroe" src="/img/Berners-Lee.jpg" alt="foto berners-lee">
    <div class="infoHeroe">
    <p>
      <strong> "Tim" John Berners-Lee</strong>, conocido como Tim Berners-Lee,
      es un científico de la computación británico, <br />
      conocido por ser el padre de la World Wide Web. Estableció la primera
      comunicación entre un cliente y un servidor <br />
      usando el protocolo HTTP en diciembre de 1990
    </p>
    <p>
      <b>Nacimiento:</b> 8 de junio de 1955 (edad 65 años), Londres, Reino Unido
    </p>
    <p>
      <b>Fallecimiento:</b> 18 de octubre de 1871, Marylebone, Londres, Reino
      Unido
    </p>

    <p>
      <b>Educación:</b> The Queen's College (1973–1976), Emanuel School,
      Battersea (1969–1973), Sheen Mount Primary School
    </p>
    </div>
    <a href="/">Volver al Home</a>
    </div>
  </body>
</html>
