<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Margaret Hamilton</title>
  </head>
  <body>
    <div class="container">
    <h1>Margaret Hamilton</h1>
    <h4>Matemática</h4>
    <img class= "fotoHeroe" src="/img/margarethamilton.jpg" alt="foto margaret hamilton">
    <div class="infoHeroe">
    <p>
      <strong>Margaret Hamilton</strong> es una científica computacional,
      matemática e ingeniera de Software. Fue directora <br />
      de la División de Ingeniería de Software del Laboratorio de
      Instrumentación del MIT, ​ donde con su equipo <br />
      desarrolló el software de navegación "on-board" para el Programa Espacial
      Apolo.​​​
    </p>
    <p>
      <b>Nacimiento:</b> 17 de agosto de 1936 (edad 84 años), Paoli, Indiana,
      Estados Unidos
    </p>
    <p><b>Educación:</b> Earlham College (1958)</p>
    </div>
    <a href="/">Volver al Home</a>
    </div>
  </body>
</html>
