<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Grace Murray Hopper</title>
  </head>
  <body>
    <div class="container">
    <h1>Grace Murray Hopper</h1>
    <h4>Científica de la computación</h4>
    <img class= "fotoHeroe" src="/img/grace-hopper.jpg" alt="Foto grace hopper">
    <div class="infoHeroe">
    <p>
      <strong>Grace Murray Hopper</strong> fue una científica de la computación
      y militar estadounidense con grado de contraalmirante.<br />
      Fue pionera en el mundo de las ciencias de la computación y la primera
      programadora que utilizó el Mark I.
    </p>
    <p>
      <b>Nacimiento:</b> 9 de diciembre de 1906, Nueva York, Nueva York, Estados
      Unidos
    </p>
    <p>
      <b>Fallecimiento:</b> 1 de enero de 1992, Condado de Arlington, Virginia,
      Estados Unidos
    </p>
    <p>
      <b>Educación:</b> Universidad Yale (1934), Universidad Yale (1930), Vassar
      College (1924–1928), The Wardlaw + Hartridge School
    </p>
    </div>  
    <a href="/">Volver al Home</a>
    </div>
  </body>
</html>
